/************************************************For main theme****************************************************/


/*Put fonts and other color schemes here (a light and dark mode on <body>?)*/


/*For main headers*/

header .pageTitle {
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    /*font-family: 'Chewy', cursive;*/
    color: rgb(11, 111, 9);
    font-family: 'Londrina Shadow', cursive;
}

header .pageTitleIcon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: inline;
    border-radius: 40px;
}


/************************************************For index.html****************************************************/


/************************************************For chat.html*****************************************************/


/*Main place to display all messages*/

#chatbox {
    background-color: black;
    color: white;
}


/*Any text bubble*/

.text {
    margin: 2px;
    padding: 10px;
    max-width: 60%;
    border-radius: 10px;
}


/*remove space from <p> elements inside of the text bubble*/

.text p {
    margin: 0;
    word-wrap: break-word;
}


/*Move all of the texts on the right to the right*/

.right {
    float: right;
    clear: both;
    background-color: rgb(33, 57, 194);
}


/*Move all of the texts on the left to the left*/

.left {
    float: left;
    clear: both;
    background-color: rgb(34, 36, 51);
}


/*Work on fitting the image into the text bubble*/

img {
    max-width: 90%;
}


/*Style any messages that are not texts, like hangouts calls or gc renames*/

.info {
    text-align: center;
    clear: both;
}


/*Give everyone their respective colors*/

.localUser {
    background-color: rgb(231, 173, 255);
    color: black;
}

.remoteUser {
    background-color: turquoise;
}