/************************************************For main theme****************************************************/


/*Put fonts and other color schemes here (a light and dark mode on <body>?)*/

main {
    font-family: Arial, Helvetica, sans-serif;
}

/*For main headers*/

header .pageTitle {
    text-align: center;
    font-size: 33px;
    display: flex;
    justify-content: center;
    /*font-family: 'Chewy', cursive;*/
    color: #0353ff;
    font-family: 'Verdana', cursive;
    margin-bottom: 0;
    align-items:center;
}

header .pageTitleIcon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: inline;
    border-radius: 40px;
}


/************************************************For index.html****************************************************/


#tagline {
    margin:auto;
    text-align: center;
}

form {
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: #181c25;
    border-radius: 6px;

}



.nobreak {
    white-space: nowrap;
}

input {
    display:none;
}

.nonRole { 
    display:block;
}
.ageInput {
    width: 15%;
    display: inline;
}
.ageInput2 {
    float:none;
}
.container{
    text-align: center;
    position: relative;
    margin: auto;
    background: #757575;
    float: left;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #757575;
    width: 136px;
}
.switch-label{
    position: relative;
    border-radius: 3px;
    color: #fff;
    padding: 4px;
    float: left;
    width: 60px;
    color: black;
    height: 16px;
    z-index: 2;
    transition: all .3s ease-out;
    cursor: pointer;
}
input:checked + .switch-label{
    color: #fff;
    font-weight: bolder;
}

.switch-selection{
    position: absolute;
    width: 60px;
    top: 0;
    height: 16px;
    left: 0;
    padding: 4px;
    z-index: 1;
    background: #0353ff;
    box-shadow: 1px 0px 4px #212121;
    transition: left 0.2s ease-out;
}
  
input:checked + .off ~ .switch-selection{
    box-shadow: -1px 0px 4px #212121;
    left: 68px;
}

.start {
    margin:auto;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #757575;
    padding: 6px;
    background: #0353ff;
    border: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}
  
.modal-content {
    border-radius: 4px;
    color: black;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#leftrocket {
    position: fixed;
    z-index: 0;
    max-width: 40%;
    top: 300px;
    right: 40px;
}

/************************************************For chat.html*****************************************************/


/*Main place to display all messages*/

#chatbox {
    background-color: black;
    color: white;
}


/*Any text bubble*/

.text {
    margin: 2px;
    padding: 10px;
    max-width: 60%;
    border-radius: 10px;
}


/*remove space from <p> elements inside of the text bubble*/

.text p {
    margin: 0;
    word-wrap: break-word;
}


/*Move all of the texts on the right to the right*/

.right {
    float: right;
    clear: both;
    background-color: rgb(33, 57, 194);
}


/*Move all of the texts on the left to the left*/

.left {
    float: left;
    clear: both;
    background-color: rgb(34, 36, 51);
}


/*Work on fitting the image into the text bubble*/

img {
    max-width: 90%;
}


/*Style any messages that are not texts, like hangouts calls or gc renames*/

.info {
    text-align: center;
    clear: both;
}


/*Give everyone their respective colors*/

.localUser {
    background-color: rgb(231, 173, 255);
    color: black;
}

.remoteUser {
    background-color: turquoise;
}