/************************************************For main theme****************************************************/

body,
main {
    margin: 0;
}


/*Put fonts and other color schemes here (a light and dark mode on <body>?)*/

main {
    font-family: Arial, Helvetica, sans-serif;
}


/*For main headers*/

header .pageTitle {
    text-align: center;
    font-size: 33px;
    display: flex;
    justify-content: center;
    /*font-family: 'Chewy', cursive;*/
    color: #0353ff;
    font-family: 'Verdana', cursive;
    margin-bottom: 0;
    align-items: center;
}

header .pageTitleIcon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: inline;
    border-radius: 40px;
}


/************************************************For index.html****************************************************/

#tagline {
    margin: auto;
    text-align: center;
}

form {
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: #181c25;
    border-radius: 6px;
}

.nobreak {
    white-space: nowrap;
}

.ageInput {
    width: 15%;
    display: inline;
}

label,
p {
    color: white;
    /*Just for readability purposes for now*/
}

.start {
    margin: auto;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #757575;
    padding: 6px;
    background: #0353ff;
    border: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.85);
    /* Black w/ opacity */
    text-align: center;
}

.modal-content {
    border-radius: 4px;
    color: black;

    margin: auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#leftrocket {
    position: fixed;
    z-index: 0;
    max-width: 40%;
    top: 300px;
    right: 40px;
}

@keyframes spin {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  #loadingimg {
    animation: spin 1.7s linear infinite;
  }


/************************************************For chat.html*****************************************************/


/*Main place to display all messages*/

#initialPage {
    display: none;
}


/*Ugh please help meeeee*/

#settingsBar {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatApp {
    display: flex;
    flex-direction: column;
}

#chatbox {
    background-color: black;
    color: white;
    max-height: 100%;
}

#chatbox,
#chatInput {
    width: 100%;
}

#chatInput {
    display: flex;
    /*Adds space around the elements*/
    justify-content: space-around;
    /*Makes all elements vertically in line*/
    align-items: center;
    flex-direction: row;
    /*Make sure the elements don't wrap regardless of screen size*/
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
}

#chatInput textarea {
    /*Style the main input textbox*/
    width: 60%;
    resize: none;
    padding: 10px;
}


/*Any text bubble*/

.text {
    margin: 2px;
    padding: 10px;
    max-width: 60%;
    border-radius: 10px;
}


/*remove space from <p> elements inside of the text bubble*/

.text p {
    margin: 0;
    word-wrap: break-word;
}


/*Move all of the texts on the right to the right*/

.right {
    float: right;
    clear: both;
    background-color: rgb(33, 57, 194);
}


/*Move all of the texts on the left to the left*/

.left {
    float: left;
    clear: both;
    background-color: rgb(34, 36, 51);
}


/*Work on fitting the image into the text bubble*/

img {
    max-width: 90%;
}


/*Style any messages that are not texts, like hangouts calls or gc renames*/

.info {
    text-align: center;
    clear: both;
}


/*Give everyone their respective colors*/

.localUser {
    background-color: rgb(231, 173, 255);
    color: black;
}

.remoteUser {
    background-color: turquoise;
}

@media print {
    /*When printing, show only #chatbox, hide everything else*/
    #chatbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        height: 100%;
    }
}